/*
.one {
    height:  400px;
    width: 100%;
    background: linear-gradient(green,red)
}

.two {
    height:  400px;
    width: 100%;
    background: linear-gradient(to right, green,red)
}

.three {
    height:  400px;
    width: 100%;
    background: linear-gradient(to bottom right,green,red)
}

.four {
    height:  400px;
    width: 100%;
    background: repeating-linear-gradient(to left, yellow 25px,  green,red)
}

.five {
    height:  400px;
    width: 100%;
    background: repeating-radial-gradient(at 0% 20%, green,red)
}

.six {
    height:  400px;
    width: 100%;
    background: radial-gradient(ellipse closest-side, red, green, blue, purple)
}

footer {
    height:  400px;
    width: 100%;
    background: conic-gradient( red 25%, lime 33%, blue 25%, yellow)
}
*/
/*
.one {
    transform: translate(100px, 200px);
    background: red;
}

.two {
    transform: rotate(45deg);
    background: green;
    text-align: center;
    width: 700px;
}

.three {
    transform: scale(0.5, 4);
    background: orange;
    text-align: center;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.four {
    transform: scaleX(2);
    transform: scaleY(0.7);
    background: pink;
    text-align: center;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.five {
    transform: skewY(25deg);
    background: purple;
    text-align: center;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.six {
    transform: translate(100px, -200px);
    background: yellow;
}

footer {
    transform: matrix(0.5, 2, 0, 1, 0, 0 );
    background: grey;
    text-align: center;
    width: 200px;
    height: 100px;
    overflow: hidden;
}
*/
.one {
    background: red;
}

.two {
    background: green;
    text-align: center;
    width: 100px;
}

.three {
    background: orange;
    text-align: center;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.four {
    background: pink;
    text-align: center;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.five {
    background: purple;
    text-align: center;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.six {
    background: yellow;
}

footer {
    background: grey;
    text-align: center;
    width: 200px;
    height: 100px;
    overflow: hidden;
}