* {
    box-sizing: border-box;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
}

#content > p {
    border: 10px darkblue groove ;
    width: 50%;
    height: 100px;
}

#q1 {
    text-emphasis: italic;
    border-top-width: 100px;
    border-top-style: solid;
    border-left-style: dashed;
    border-right-width: 500px;
    border-left-width: 500px;
    order: 1;
    
}

#q2 {
    text-emphasis: italic;
    width: 50%;
    height: 100px;
    border-left-width: 1600px;
    order: 3;
}

#q3 {
    text-emphasis: italic;
    width: 50%;
    height: 100px;
    border-right-width: 1600px;
    border-bottom-width: 100px;
    border-bottom-style: solid;
    border-left-style: dashed;
    order: 5;
}
#q4 {
    text-emphasis: bold;
    width: 50%;
    height: 100px;
    border-right-width: 1600px;
    border-bottom-width: 100px;
    border-left-style:s dashed;
    order: 2;
}
#q5 {
    text-emphasis: bold;
    width: 50%;
    height: 100px;
    border-right-width: 1600px;
    border-bottom-width: 100px;
    order: 4;
}
#q6 {
    text-emphasis: bold;
    width: 50%;
    height: 100px;
    border-right-width: 1600px;
    border-bottom-width: 100px;
    border-bottom-style: solid;
    border-left-style: dashed;
    order: 6;
}