
.first {
    color: red;
     background-image: url(https://dummyimage.com/600x400/960096/0011ff.png&text=test); height: 1000px; background-repeat: no-repeat;
     background-color: darkcyan;
     background-position: center;
     background-attachment: fixed;
     background-size: 100px 600px;
}

.RedTitle {
    background-color: cadetblue
    url(https://dummyimage.com/600x400/960096/0011ff.png&text=test) no-repeat fixed right bottom;
}

h1 {
    background-color: chocolate;
    background-image: url(https://dummyimage.com/600x400/960096/0011ff.png&text=test);
    background-size: 10%;
    background-repeat: repeat;
    height: 500px;
}

p {
    color:lightgrey;
    background-color: black;

}

#RedTitle {
    color:red;
}
.red {
    color: white;
    background: red;
}

#BlueTitle {
    color: blue;
}
.blue {
    color: white;
    background: blue;
}

#GreenTitle {
    color:green;
}
.green {
    color: white;
    background: green;
}


h1 {
    height: 500px; 
    width: 50%; 
    background: darkmagenta;
}

#one {
    border-width: 10px;
    border-color: darkmagenta;
    border-style: double;
}

#two {
    border: 10px greenyellow double;
    height: 200px;
    width: 200px;
    margin: 1000px;
    border-left: 100px; 
    text-align: center;
}

#three {
    background: red;
    border: 1px solid black;
    padding: 30px;
    outline: 100px solid blue;
    margin: 10px 50px 10px 50px;
    border-bottom: 15px;
    border-left: dotted fuchsia;
    border-right: dashed fuchsia;
}

p:first-child {
    background: aqua;
    font-family: fantasy;
    font-style: italic;
    font-weight: 200;
    font-variant: small-caps;
    font-size: 10px;
}

p:hover {
    background: green;
}

a:link {
    color:red;
}