.first {
    color: red;
     background: yellow;
}

p {
    color:lightgrey;
    background: black;
}

#one {
    color:#FFEE00;
    background: white;
}

#two {
    color:lightcoral;
    background: rgba(230, 100, 0, 0.5);
}

#three {
    color: pink;
    background: green;
}