#Mattmen_Main_Title {
    text-align: left;
}

#Mattmen_Main_Logo {
    height: 50px;
    width: 50px;
}

#Artifical_Intelligence_Image {
    width: 100%; /* width of container */
    height: 700px; /* height of container */
    object-fit: cover;
}