#Mattmen_Main_Title {
    text-align: left;
}

#Mattmen_Main_Logo {
    height: 67px;
    width: 67px;
}

#Artifical_Intelligence_Image {
    width: 100%; /* width of container */
    height: 150px; /* height of container */
    overflow: hidden;
    border: 5px solid black;
    margin: -10px 0px 0px -180px;
}