* {
    box-sizing: border-box;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.col {
    flex: 33.3%;
    padding: 10px;
    
}

img{
    width: 100%;
}

@media (max-width: 680px) {
    .col{
        flex: 50%;
    }
}